@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h1>We provide the brand new sports footwears of top brands for various purposes.</h1>
<h2>We have footwears for Women,Men of various brands like Addidas,Nike,Puma,Jordan</h2>
<h2>We also have special footwear for hiking,trekking and  weather conditions like snowfall,freezing rain</h2>

