@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   The shoe store<br />
    Barrie, ON 9852-6399<br />
   
</address>

<address>
    <strong>Support:</strong>   <a href="">shoestore@ad.com</a><br />
    <strong>Marketing:</strong> <a href="">Marketing@shoe.com</a>
</address>