@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Shoe store</h1>
    <img src="img/jor1.jpg" height="400" width="1000" />
    <p>
        <h2>
            Welcome to the shoe store.
    <P>
        View Our collections of shoes for Originals, running, football, training and much more.
    </P>
    </h2>


    </p>
    <div class="row">
        <div class="col-md-4">
            <img src="img/ad1.jpg" height="300" width="400" />
        </div>
        <div class="col-md-4">
            <img src="img/rb.jpg" height="300" width="300" />
        </div>
        <div class="col-md-4">
            <img src="img/tr.jpg" height="300" width="300" />
        </div>
    </div>
</div>
